<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>
    <!-- Spring -->
    <logger name="org.springframework.web.reactive" level="INFO" />

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.security.web.server" level="INFO" />

    <logger name="be.fgov.ehealth.fhir.visualization.rest" level="DEBUG" />
    <logger name="org.springframework.context.annotation" level="INFO" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
